.canvas {
  background-color: white;
  width: 100%;
  display: inline-flex;
  padding: 8px;
  // height: calc(100vh - 120px);
  .main {
    background: cornflowerblue;
    min-height: 400px;
  }

  .toolbar {
    width: 100%;
    height: 100%;
    background-color: red;
  }
}

@media screen and (max-width: 767px) {
  .canvas {
    display: flex;
    flex-direction: column;

    .main {
      order: 1;
      width: 100%;
      // height: 400px;
    }

    .toolbar {
      min-height: 100px;
      order: 0;
      // width: 100%;
    }
  }
}
