.canvas {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 70px);
  width: 100vw;

  .main {
    order: 1;
    background: cornflowerblue;
  }

  .layer-ui-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    // background-color: red;

    .munu {
      display: flex;
    }

    .menu-top {
      justify-content: center;
    }
  }
}

@media screen and (max-width: 767px) {
  .canvas {
    display: flex;
    flex-direction: column;

    .main {
      order: 1;
      width: 100%;
    }

    .layer-ui-wrapper {
      min-height: 100px;
      order: 0;
    }
  }
}
